@media screen and (max-width:576px) {

    /* nav responsive */
    main {
        /* max-width: 575px; */
        margin: 0px auto;
    }

    nav {
        display: flex;
        justify-content: space-between;
        padding: 10px 20px;
        margin: 20px auto;
    }

    .nav-page {
        display: none;
    }

    .menu {
        display: inline !important;
        margin-right: 10px;
    }

    /* banner responsive */

    .banner {
        margin: 20px;
    }

    .banner-text {
        padding-top: 40px;
    }

    .banner-text h1 {
        font-size: 20px;
        font-weight: 800;
    }

    .banner-text p {
        width: 80%;
    }

    .four {
        flex-direction: column;
        width: 70%;
        margin-top: 25px;
    }

    .banner-item {
        margin-left: auto;
        margin-right: auto;
    }

    /* main section responsive */

    .main-section {
        flex-direction: column;
    }

    .main-section h1 {
        font-size: 20px;
    }

    .main-section p {
        width: 330px;
    }

    .main-pic img {
        width: 335px;
        height: 342px;
        margin: 30px auto;
    }

    /* places responsive */

    .places {
        margin: 30px auto;
    }

    .maldives {
        width: 335px;
        height: 176px;
        margin: 0 auto;
    }

    .indo {
        width: 335px;
        height: 176px;
        margin: 0 auto;
    }

    .sri {
        width: 335px;
        height: 176px;
        margin: 0 auto;
    }

    .north {
        width: 335px;
        height: 176px;
        margin: 0 auto;
    }

    .kashmir {
        width: 335px;
        height: 176px;
        background-size: cover;
        margin: 0 auto;
    }

    .bangla {
        width: 335px;
        height: 176px;
        margin: 0 auto;
    }

    .bandor {
        width: 335px;
        height: 176px;
        margin: 0 auto;
    }

    .first {
        flex-direction: column;
        gap: 20px;
    }

    .second {
        flex-direction: column;
        gap: 20px;
    }

    .third {
        flex-direction: column;
        gap: 20px;
    }

    .places div>h1 {
        font-size: 20px;
    }

    .places div>h2 {
        font-size: 14px;
        width: 309px;
    }

    /* location responsive */

    .hotel-text {
        font-size: 20px;
        margin-top: 50px;
    }

    .hotel-p {
        width: 309px;
        font-size: 14px;
        margin-top: 10px;
    }

    .hotel-bg {
        width: 280px;
        height: 175px;
        margin: 0 auto;
    }

    .hotel-bg h1 {
        font-size: 18px;
    }

    .hotel-bg p {
        width: 271px;
        font-size: 14px;
    }

    .map-text {
        font-size: 20px;
        margin-top: 50px;
    }

    .map-p {
        width: 309px;
        font-size: 14px;
        margin-top: 10px;
    }

    .map-bg {
        width: 280px;
        height: 175px;
        margin: 0 auto;
    }

    .map-bg h1 {
        font-size: 18px;
    }

    .map-bg p {
        width: 271px;
        font-size: 14px;
    }

    .price-text {
        font-size: 20px;
        margin-top: 50px;
    }

    .price-p {
        width: 309px;
        font-size: 14px;
        margin-top: 10px;
    }

    .price-bg {
        width: 280px;
        height: 175px;
        margin-top: 20px;
    }

    .price-bg h1 {
        font-size: 18px;
    }

    .price-bg p {
        width: 271px;
        font-size: 14px;
    }

    .up2 {
        margin: 0px auto;
        margin-left: auto;
        margin-right: auto;
        gap: 20px;
        flex-direction: column;
    }

    /* input field responsive */

    .input-field {
        flex-direction: column;
    }

    .input-text {
        width: 300px;
        height: 353px;

    }

    .news-h1 {
        font-size: 20px;
        margin-top: 40px;
        margin-left: 30px;
    }

    .input-text p {
        width: 220px;
        font-size: 14px;
        margin-left: 30px;
    }

    .name-input,
    .email-input {
        width: 128px;
        height: 52px;
        margin-left: 30px;
    }

    .input-text button {
        width: 150px;
        height: 52px;
        display: block;
        margin-left: 30px;
    }

    .last-img {
        width: 345px;
        height: 300px;
    }

    .save-money {
        width: 180px;
        position: relative;
        bottom: 200px;
        left: 80px;
        transform: rotate(-20deg);
    }
}